Datacom.IRIS.Common/Validators/Schemas/eFIXMLFile1501.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.justice.govt.nz/efi/cms/eFIXMLFile1501" xmlns:eficms="http://www.justice.govt.nz/efi/cms/eFIXMLFile1501" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.5.01">
	<xs:annotation>
		<xs:documentation> This XSD defines the format of eFI XML File received from hub.
		                   Based on eFI XML File Specification v1.5.doc as at 20/Nov/2006
		</xs:documentation>
	</xs:annotation>
	<xs:element name="efi-transaction" type="eficms:efi-transaction-Type"/>
	<xs:complexType name="efi-transaction-Type">
		<xs:sequence>
			<xs:element name="batch-header" type="eficms:batch-header-type"/>
			<xs:element name="infringement" type="eficms:infringement-type"/>
			<xs:element name="trailer" type="eficms:trailer-type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="batch-header-type">
		<xs:sequence>
			<xs:element name="infringement-batch-id" type="eficms:file-name-type"/>
			<xs:element name="sequence-number" type="eficms:sequence-number-type"/>
			<xs:element name="prosecuting-agency" type="eficms:prosecuting-agency-type"/>
			<xs:element name="date-created" type="xs:date"/>
			<xs:element name="time-created" type="xs:time"/>
			<xs:element name="return-email-address" type="eficms:email-type"/>
			<xs:element name="expected-record-count" type="eficms:record-count-type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="transaction-type-type">
		<xs:sequence>
			<xs:element name="batch-item-sequence-number" type="eficms:batch-item-sequence-number-type"/>
			<xs:element name="transaction-type" type="eficms:transaction-code-type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="infringement-type">
		<xs:sequence>
			<xs:element name="transaction" type="eficms:transaction-type-type"/>
			<xs:element name="name-details" type="eficms:name-details-type"/>
			<xs:element name="address-details" type="eficms:address-details-type"/>
			<xs:element name="offence-details" type="eficms:offence-details-type"/>
			<xs:element name="reminder-notice-details" type="eficms:reminder-notice-details-type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="name-details-type">
		<xs:sequence>
			<xs:element name="organisation-yn" type="eficms:yn-type"/>
			<xs:element name="organisation-name" type="eficms:name-type" minOccurs="0"/>
			<xs:element name="name-prefix" type="eficms:prefix-type" minOccurs="0"/>
			<xs:element name="last-name" type="eficms:name-type" minOccurs="0"/>
			<xs:element name="middle-names" type="eficms:name-type" minOccurs="0"/>
			<xs:element name="first-name" type="eficms:name-type" minOccurs="0"/>
			<xs:element name="suffix" type="eficms:suffix-type" minOccurs="0"/>
			<xs:element name="gender" type="eficms:gender-type" minOccurs="0"/>
			<xs:element name="date-of-birth" type="xs:date" minOccurs="0"/>
			<xs:element name="occupation" type="eficms:occupation-type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="address-details-type">
		<xs:sequence>
			<xs:element name="address-type" type="eficms:address-type-type" minOccurs="0"/>
			<xs:element name="address-1" type="eficms:address-line1-type"/>
			<xs:element name="address-2" type="eficms:address-line-type" minOccurs="0"/>
			<xs:element name="suburb" type="eficms:address-line-type" minOccurs="0"/>
			<xs:element name="town-city" type="eficms:address-line-type"/>
			<xs:element name="postcode" type="eficms:postcode-type" minOccurs="0"/>
			<xs:element name="state-province" type="eficms:state-province-type" minOccurs="0"/>
			<xs:element name="country-code" type="eficms:country-code-type" minOccurs="0"/>
			<xs:element name="address-date" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="offence-details-type">
		<xs:sequence>
			<xs:element name="crn" type="eficms:crn-type" minOccurs="0"/>
			<xs:element name="licence-type" type="eficms:licence-type-type" minOccurs="0"/>
			<xs:element name="driver-licence-number" type="eficms:driver-licence-number-type" minOccurs="0"/>
			<xs:element name="cross-ref-number" type="eficms:cross-reference-number-type" minOccurs="0"/>
			<xs:element name="tracking-number" type="eficms:tracking-number-type" minOccurs="0"/>
			<xs:element name="court-of-hearing" type="eficms:court-of-hearing-type"/>
			<xs:element name="court-hearing-date" type="xs:date" minOccurs="0"/>
			<xs:element name="court-hearing-time" type="xs:time" minOccurs="0"/>
			<xs:element name="prosecuting-agency" type="eficms:prosecuting-agency-type"/>
			<xs:element name="offence-precedent-code" type="eficms:offence-precedent-code-type"/>
			<xs:element name="offence-name" type="eficms:offence-name-type" minOccurs="0"/>
			<xs:element name="offence-date-type" type="eficms:offence-date-type"/>
			<xs:element name="offence-date" type="xs:date"/>
			<xs:element name="offence-to-date" type="xs:date" minOccurs="0"/>
			<xs:element name="offence-time" type="xs:time"/>
			<xs:element name="offence-location" type="eficms:offence-location-type"/>
			<xs:element name="offence-locality" type="eficms:offence-locality-type" minOccurs="0"/>
			<xs:element name="fee" type="eficms:currency-type"/>
			<xs:element name="part-payment-arranged" type="eficms:yn-type"/>
			<xs:element name="issued-by" type="eficms:issued-by-type"/>
			<xs:element name="reissued-reminder" type="eficms:yn-type"/>
			<xs:element name="previous-crn" type="eficms:crn-type" minOccurs="0"/>
			<xs:element name="vehicle-registration-number" type="eficms:vehicle-registration-number-type" minOccurs="0"/>
			<xs:element name="vehicle-make" type="eficms:vehicle-make-type" minOccurs="0"/>
			<xs:element name="vehicle-type" type="eficms:vehicle-type-type" minOccurs="0"/>
			<xs:element name="vehicle-model" type="eficms:vehicle-model-type" minOccurs="0"/>
			<xs:element name="vehicle-colour" type="eficms:colour-type" minOccurs="0"/>
			<xs:element name="speed-camera-icn" type="eficms:speed-camera-icn-type" minOccurs="0"/>
			<xs:element name="site-reference-number" type="eficms:site-reference-number-type" minOccurs="0"/>
			<xs:element name="towage-fee" type="eficms:currency-type" minOccurs="0"/>
			<xs:element name="demerit-points" type="eficms:demerit-points-type" minOccurs="0"/>
			<xs:element name="excess-speed" type="eficms:excess-speed-type" minOccurs="0"/>
			<xs:element name="actual-speed" type="eficms:actual-speed-type" minOccurs="0"/>
			<xs:element name="dog-registration-number" type="eficms:dog-registration-number-type" minOccurs="0"/>
			<xs:element name="dog-breed" type="eficms:dog-breed-type" minOccurs="0"/>
			<xs:element name="dog-age" type="eficms:dog-age-type" minOccurs="0"/>
			<xs:element name="dog-colour-1" type="eficms:colour-type" minOccurs="0"/>
			<xs:element name="dog-colour-2" type="eficms:colour-type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="reminder-notice-details-type">
		<xs:sequence>
			<xs:element name="informant-name" type="eficms:informant-name-type"/>
			<xs:element name="informant-address-1" type="eficms:informant-address-1-type"/>
			<xs:element name="informant-address-2" type="eficms:informant-address-2-type" minOccurs="0"/>
			<xs:element name="notice-number" type="eficms:notice-number-type"/>
			<xs:element name="notice-served-by" type="eficms:notice-served-by-type"/>
			<xs:element name="notice-served-on" type="xs:date"/>
			<xs:element name="vehicle-registration-number-2" type="eficms:vehicle-registration-number-type" minOccurs="0"/>
			<xs:element name="vehicle-registration-number-3" type="eficms:vehicle-registration-number-type" minOccurs="0"/>
			<xs:element name="vehicle-registration-number-4" type="eficms:vehicle-registration-number-type" minOccurs="0"/>
			<xs:element name="reminder-served-by" type="eficms:reminder-served-by-type" minOccurs="0"/>
			<xs:element name="reminder-served-on" type="xs:date" minOccurs="0"/>
			<xs:element name="total-fee" type="eficms:currency-type"/>
			<xs:element name="service-address-line-1" type="eficms:service-address-line-type" minOccurs="0"/>
			<xs:element name="service-address-line-2" type="eficms:service-address-line-type" minOccurs="0"/>
			<xs:element name="service-address-suburb" type="eficms:service-address-line-type" minOccurs="0"/>
			<xs:element name="service-address-town-city" type="eficms:service-address-line-type" minOccurs="0"/>
			<xs:element name="due-date" type="xs:date" minOccurs="0"/>
			<xs:element name="offence-description" type="eficms:offence-description-type"/>
			<xs:element name="offence-against-text" type="eficms:offence-against-text-type"/>
			<xs:element name="being-text" type="eficms:being-text-type" minOccurs="0"/>
			<xs:element name="additional-information" type="eficms:additional-information-type" minOccurs="0"/>
			<xs:element name="other-penalties-text" type="eficms:other-penalties-text-type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="trailer-type">
		<xs:sequence>
			<xs:element name="record-count" type="eficms:record-count-type"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Simple Type definitions -->
	<xs:simpleType name="file-name-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="40"/>
			<xs:pattern value="[A-Z]{4}_CMS_Infgmt-[0-9]{8}-[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sequence-number-type">
		<xs:restriction base="xs:positiveInteger">
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="prosecuting-agency-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="email-type">
	   <xs:union> 
	     <xs:simpleType> 
	       <xs:restriction base="xs:string"> 
	          <xs:maxLength value="0"/> 
	       </xs:restriction> 
	     </xs:simpleType> 
	     <xs:simpleType> 
		<xs:restriction base="xs:token">
			<xs:maxLength value="100"/>
			<xs:pattern value="([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(([a-zA-Z0-9_-])*\.([a-zA-Z0-9_-])+)+"/>
		</xs:restriction>
	     </xs:simpleType> 
	   </xs:union>
	</xs:simpleType> 
	<xs:simpleType name="transaction-code-type">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="batch-item-sequence-number-type">
		<xs:restriction base="xs:positiveInteger">
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="yn-type">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="name-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="prefix-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="suffix-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="gender-type">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="occupation-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="address-type-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="address-line1-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="200"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="address-line-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="postcode-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="state-province-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="country-code-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="crn-type">
	   <xs:union> 
	     <xs:simpleType> 
	       <xs:restriction base="xs:string"> 
	          <xs:maxLength value="0"/> 
	       </xs:restriction> 
	     </xs:simpleType> 
	     <xs:simpleType> 
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[0-9]{11}"/>
		</xs:restriction>
		<!-- Although crn-type is defined as string - it should only contain numeric values if a value is defined -->
	     </xs:simpleType> 
	   </xs:union> 
	</xs:simpleType>
	<xs:simpleType name="licence-type-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="driver-licence-number-type">
	   <xs:union> 
	     <xs:simpleType> 
	       <xs:restriction base="xs:string"> 
	          <xs:maxLength value="0"/> 
	       </xs:restriction> 
	     </xs:simpleType> 
	     <xs:simpleType> 
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="8"/>
			<xs:pattern value="[A-Z]{2}[0-9]{6}"/>
		</xs:restriction>
	     </xs:simpleType> 
	   </xs:union> 
	</xs:simpleType>
	<xs:simpleType name="cross-reference-number-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tracking-number-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="court-of-hearing-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="offence-date-type">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="offence-precedent-code-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="offence-name-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="offence-location-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="offence-locality-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="issued-by-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="vehicle-registration-number-type">
	   <xs:union> 
	     <xs:simpleType> 
	       <xs:restriction base="xs:string"> 
	          <xs:maxLength value="0"/> 
	       </xs:restriction> 
	     </xs:simpleType> 
	     <xs:simpleType> 
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="6"/>
			<xs:pattern value="[A-Z0-9]*"/>
		</xs:restriction>
	     </xs:simpleType> 
	   </xs:union> 
	</xs:simpleType>
	<xs:simpleType name="vehicle-make-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="vehicle-type-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="vehicle-model-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="colour-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="speed-camera-icn-type">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="site-reference-number-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="demerit-points-type">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currency-type">
	<xs:union> 
	     <xs:simpleType> 
	       <xs:restriction base="xs:string"> 
	          <xs:maxLength value="0"/> 
	       </xs:restriction> 
	     </xs:simpleType> 
	     <xs:simpleType> 
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]{1,12}[.][0-9]{2}"/>
		</xs:restriction>
	     </xs:simpleType> 
	   </xs:union> 
	</xs:simpleType>
	<xs:simpleType name="excess-speed-type">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="actual-speed-type">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dog-registration-number-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dog-breed-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dog-age-type">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="informant-name-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="informant-address-1-type">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="4"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="informant-address-2-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="notice-number-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="notice-served-by-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="reminder-served-by-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="service-address-line-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="offence-description-type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4096"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="offence-against-text-type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="being-text-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="additional-information-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="120"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="other-penalties-text-type">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="record-count-type">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
